 .u-section-1 {
  min-height: 66px;
}

.u-section-1 .u-sheet-1 {
  min-height: 655px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 791px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 60px;
}

.u-section-1 .u-icon-1 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 0 auto;
  padding: 16px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 24px 21px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 21px 0 0;
}

.u-section-1 .u-text-4 {
  line-height: 1.4;
  background-image: none;
  font-size: 1.125rem;
  margin: -19px 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 48px 21px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 24px 21px 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 791px;
  background-image: url("images/f.elconfidencial.com_original_38a_cac_f6e_38acacf6edc6de28faf711ccbb90053a.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 318px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 652px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 133px;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 12px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 652px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 66px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    min-height: 499px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-image-1 {
    min-height: 749px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    min-height: 472px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 314px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 400;
  margin: 75px auto 60px;
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
  }
} .u-section-3 {
  background-image: url("images/g5khdocikff61.webp");
}

.u-section-3 .u-sheet-1 {
  min-height: 717px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 591px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 453px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 340px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 214px;
  }
}